---
import ResumeBtn from "../components/ResumeBtn.astro";
import SocialsBtn from "../components/SocialsBtn.astro";
import PageLayout from "../layouts/PageLayout.astro";

const skillsRowCls =
  "grid grid-cols-[120px_1fr] items-center bg-stone-50 border-stone-200 border-1 rounded-xl my-2";

const dtCls = "font-semibold text-center px-4 py-2";
const ddCls = "py-2 px-4 text-sm md:text";
---

<PageLayout>
  <div class="px-2">
    <!-- Profile Card -->
    <div
      class="flex flex-col md:gap-3 md:flex-row items-center md:items-start pt-4 pb-6 pl-6 pr-8 bg-white shadow-lg rounded-xl"
    >
      <!-- Profile pic -->
      <div
        class="h-32 w-32 md:h-44 md:w-44 rounded-full bg-linear-to-br from-indigo-600 to-pink-200 border-4 border-white overflow-hidden shrink-0 mb-4 md:mb-0"
      >
        <img src="/me.png" alt="My Photo" class="object-cover rounded-full" />
      </div>

      <!-- Intro para -->
      <div
        class="flex flex-col text-slate-600 gap-2 justify-center my-auto text-sm md:text-lg text-justify md:text-left"
      >
        <p>
          Hello I'm <strong class="px-0.5 text-black font-serif font-bold"
            >Kumar Deshmukh</strong
          >, a <span class="font-serif font-semibold"
            >web and mobile developer</span
          > from
          <a
            target="_blank"
            href="https://maps.app.goo.gl/3G6y87Ud6NqGNMrW7"
            class="underline decoration-dotted decoration-pink-600 hover:bg-pink-600 hover:text-white px-0.5"
            >Pune.</a
          >
          <span>
            I enjoy developing practical digital solutions, exploring emerging
            technologies, and solving real-world problems through code. Beyond
            work, I stay active by working out or unwinding with games and
            cinema. Curious by nature, crafting thoughtful digital experiences.
          </span>
        </p>
      </div>
    </div>

    <br />

    <div class="flex z-5 mt-3 mb-1 justify-between items-center">
      <!-- Skills -->
      <div class="font-mono font-bold text-3xl">SKILLS</div>

      <!-- Resume link button -->
      <ResumeBtn />
    </div>

    <dl class="font-mono my-3 overflow-hidden">
      <div class={skillsRowCls}>
        <dt class={dtCls}>Languages</dt>
        <dd class={ddCls}>C++, JavaScript, TypeScript, Java, Python, Bash</dd>
      </div>

      <div class={skillsRowCls}>
        <dt class={dtCls}>Frontend</dt>
        <dd class={ddCls}>
          React, React Native, Next.js, Flutter, Tailwind, Astro, HTML, CSS
        </dd>
      </div>

      <div class={skillsRowCls}>
        <dt class={dtCls}>Backend</dt>
        <dd class={ddCls}>Node.js, Express, Prisma, MongoDB, PostgreSQL</dd>
      </div>
      <div class={skillsRowCls}>
        <dt class={dtCls}>Tools</dt>
        <dd class={ddCls}>VS Code, Android Studio, Git, Postman, Tmux</dd>
      </div>
    </dl>

    <!-- Contact -->
    <div class="mt-10 grid grid-cols-2 md:grid-cols-4 gap-2 md:gap-4">
      <SocialsBtn
        title="GitHub"
        logo="github-mark-white.svg"
        colorClass="bg-slate-700 text-white"
        url="https://github.com/datkumar"
      />
      <SocialsBtn
        title="Email"
        logo="gmail.svg"
        colorClass="bg-white"
        url="mailto:contact.kumar.deshmukh@gmail.com"
      />
      <SocialsBtn
        title="Twitter"
        logo="twitter.svg"
        colorClass="text-white bg-black"
        url="https://x.com/kafkaesql"
      />
      <SocialsBtn
        title="LinkedIn"
        logo="linkedin.svg"
        colorClass="text-white bg-blue-600"
        url="https://www.linkedin.com/in/kumardeshmukh/"
      />
    </div>

    <br />
  </div>
</PageLayout>
